.container {
    width: 50%;
    margin: 50px auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 35px;
}

#submitBtn {
    width: 100%;
    color: white;
    padding: 10px 0px;
    background-color: black;
    margin-top: 20px;
}
.msg {
    display: none;
    margin-top: 5px;
}

.success {
    color: green;
}

.error {
    color: red;
}
