body {
    font-family: sans-serif;
}

h1{
    text-align: center;
}

#todo-list {
    width: 500px;
    margin: 0 auto;
}

#todo-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#add-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#todo-items {
    list-style: none;
    padding: 0;
}

#todo-items li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}